* {
    box-sizing: border-box;
}
body {
    background: #fff;
    background-size: cover;
    color:#000000;
    font-family: Arial;
}
p {
    max-width: 65ch;
    line-height: 1.7;
}
a {
    color:midnightblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    width:70%;
    max-width:1000px;
    margin:auto;
}